/AppJNDI.xml
/TaskResource_zh_CN.properties
/application.properties
/applicationContext-dao.xml
/applicationContext-resources.xml
/applicationContext-service.xml
/com/
/commons-logging.properties
/druid_db.properties
/ehcache.xml
/errorInfo.properties
/hbm/
/log4j.properties
/logBridge.properties
/parameters.properties
/resource_zh_CN.properties
/validators.xml
/webService.xml
/xwork-conversion.properties
